*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20px;
}

p{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button{
    border: none;
    font-size: 3rem;
    margin: 0 .5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: darkred;
    transition: all .3s ease-in-out;
}

button:hover{
    opacity: 0.7;
}

#user-score{
    color: #2196f3;
}

#computer-score{
    color: #ff0000;
}